#Language (optional, default: en, Options: en, de, ru, es, fr)
#LANGUAGE=de

#Home Dashboard (optional, default Google)
#DASHBOARD_URL=

#Adguard Configuration
ADGUARD_URL=http://ADGUARD-IP:8080/control/query_log
ADGUARD_USER_PASS=user:pass
ADGUARD_DASHBOARD_URL=
