#Language (optional, default: en, Options: en, de, ru, es, fr)
#LANGUAGE=de

#Home Dashboard (optional, default Google)
#DASHBOARD_URL=

#Adguard Configuration
ADGUARD_URL=http://ADGUARD-IP:8080/control/query_log
ADGUARD_USER_PASS=user:pass
ADGUARD_DASHBOARD_URL=

# E-Mail Configuration (Optional)
SMTP_SERVER=smtp.deinanbieter.de
SMTP_PORT=587
SMTP_USER=deine@email.de
SMTP_PASS=dein_email_passwort
EMAIL_TO=deine@email.de

# Telegram (optional)
#TELEGRAM_TOKEN=123456789:ABCDEF...
#TELEGRAM_CHAT_ID=987654321

# Gotify (optional)
# GOTIFY_URL=http://<<yourGotifyServer>>
# GOTIFY_TOKEN=A1B2C3D4E5
